version: "3.8"
services:
  localstack:
    image: localstack/localstack:latest
    container_name: "localstack-main"
    ports:
      - "4566:4566"
      - "4510-4559:4510-4559"
    environment:
      - SERVICES=s3,iam,cloudtrail,sts,lambda,cloudformation,logs
      - DEBUG=1
      - AWS_DEFAULT_REGION=us-east-1
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "./localstack:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
